<div class="">
  <!-- ============= lilnk entry ============ -->
  <!-- form sectin -->
  <div class="bg-darkViolet rounded-xl">
    <div
      class="bg-shorten-mobile md:bg-shorten-desktop bg-no-repeat bg-right-top py-9 px-8"
    >
      <form
        action=""
        class="flex flex-col md:justify-between gap-6 md:flex-row"
      >
        <div class="flex flex-col md:w-[75%]">
          <input
            type="text"
            class="py-3.5 placeholder:text-grays w-full rounded-lg px-5 font-medium outline-0 text-veryDarkBlue"
            placeholder="Shorten a link here..."
          />
          <!-- error templates -->
          <p class="text-red hidden italic text-sm pt-2">Please add a link</p>
        </div>
        <!-- shorten button -->
        <div class="md:w-[25%] btn__shorten">
          <button
            class="py-3 font-bold w-full text-lg px-10 text-white bg-cyan hover:bg-sky-300 rounded-md transition-colors cursor-pointer hover:text-white"
          >
            Shorten It!
          </button>
        </div>
      </form>
    </div>
  </div>

  <!-- link section -->
  <div class="link__section mt-8">
    <!-- <div
  class="border rounded-md bg-white pt-4 pb-5 md:py-2.5 md:justify-between md:items-center border-black gap-3 flex flex-col md:flex-row"
>
  <section class="border-b px-8 pb-4 md:border-none md:pb-0">
    <p class="font-medium text-veryDarkBlue text-lg">
      Lorem ipsum dolor sit amet consectetur
    </p>
  </section>
  <section
    class="flex md:items-center px-8 flex-col md:flex-row gap-4 md:gap-5"
  >
    <p>
      <a href="" class="font-medium text-cyan text-lg"
        >Lorem, ipsum dolor.</a
      >
    </p>
    <aside>
      <button
        class="py-2 font-bold w-full text-lg px-8 text-white bg-cyan hover:bg-sky-300 rounded-md transition-colors cursor-pointer hover:text-white"
      >
        Copy
      </button>
    </aside>
  </section>
</div> -->
  </div>

  <!--================== advanced statistics section ==========-->
  <div class="text-center">
    <h2 class="text-veryDarkBlue leading-[54px] text-3xl md:text-4xl font-bold">
      Advanced Statistics
    </h2>
    <p
      class="mt-2 md:mt-4 mx-auto text-base max-w-md text-grayishViolet leading-normal font-medium"
    >
      Trach how your links are performing across the web with our advanced
      statistics dashboard
    </p>
  </div>

  <!--=========types of statistical features ============== -->
  <div
    class="grid grid-cols-1 md:max-w-6xl mx-auto md:grid-cols-3 gap-24 md:gap-10 border mt-24 md:h-[350px]"
  >
    <!-- ]===================  BRAND RECOGNITION ==== -->
    <section
      class="border text-center pb-8 md:text-left bg-white md:self-start px-8 rounded-xl"
    >
      <!-- feature images -->
      <div class="flex justify-center relative -top-10">
        <div class="w-fit p-5 rounded-full bg-darkViolet">
          <img src="./images/icon-brand-recognition.svg" alt="" />
        </div>
      </div>
      <!-- feature heading -->
      <h3 class="text-veryDarkBlue -mt-4 text-2xl font-bold">
        Brand Recognition
      </h3>
      <!-- feature- text -->
      <p
        class="mt-2 mx-auto text-base max-w-sm text-grayishViolet leading-normal font-medium"
      >
        Boost your brand recognition with each click. Generic links don’t mean a
        thing. Branded links help instil confidence in your content.
      </p>
    </section>

    <!-- ]===================  Detailed records ==== -->
    <section
      class="border text-center pb-8 md:text-left md:self-center bg-white px-8 rounded-xl"
    >
      <!-- feature images -->
      <div class="flex justify-center relative -top-10">
        <div class="w-fit p-5 rounded-full bg-darkViolet">
          <img src="./images/icon-detailed-records.svg" alt="" />
        </div>
      </div>
      <!-- feature heading -->
      <h3 class="text-veryDarkBlue -mt-4 text-2xl font-bold">
        Detailed Records
      </h3>
      <!-- feature- text -->
      <p
        class="mt-2 mx-auto text-base max-w-sm text-grayishViolet leading-normal font-medium"
      >
        Gain insights into who is clicking your links. Knowing when and where
        people engage with your content helps inform better decisions.
      </p>
    </section>

    <!-- ]=================== FULLY CUSTOMIZABLE  ==== -->
    <section
      class="border text-center md:text-left self-end pb-8 bg-white px-8 rounded-xl"
    >
      <!-- feature images -->
      <div class="flex justify-center relative -top-10">
        <div class="w-fit p-5 rounded-full bg-darkViolet">
          <img src="./images/icon-fully-customizable.svg" alt="" />
        </div>
      </div>
      <!-- feature heading -->
      <h3 class="text-veryDarkBlue -mt-4 text-2xl font-bold">
        Detailed Records
      </h3>
      <!-- feature- text -->
      <p
        class="mt-2 mx-auto text-base max-w-sm text-grayishViolet leading-normal font-medium"
      >
        Gain insights into who is clicking your links. Knowing when and where
        people engage with your content helps inform better decisions.
      </p>
    </section>
  </div>
</div>
