<!-- =============== footer =========== -->
<footer class="bg-veryDarkViolet md:px-8">
  <div
    class="md:max-w-6xl mx-auto space-y-14 py-14 md:py-0 md:pb-16 flex flex-col justify-between md:flex-row"
  >
    <!-- logo -->
    <div class="md:self-center md:-mt-16">
      <div class="flex justify-center">
        <img src="./images/logo2.svg" alt="" />
      </div>
    </div>

    <!-- features -->
    <div class="space-y-5 footer-section-head">
      <p class="">Features</p>
      <ul class="">
        <li class="">Link Shortening</li>
        <li class="">Branded Links</li>
        <li class="">Analytics</li>
      </ul>
    </div>

    <!-- resources -->
    <div class="space-y-5 footer-section-head">
      <p class="">Resources</p>
      <ul class="">
        <li class="">Blog</li>
        <li class="">Developers</li>
        <li class="">Support</li>
      </ul>
    </div>

    <!-- company -->
    <div class="space-y-5 footer-section-head">
      <p class="">Company</p>
      <ul class="">
        <li class="">About</li>
        <li class="">Our Team</li>
        <li class="">Careers</li>
        <li class="">Company</li>
      </ul>
    </div>

    <!-- medias -->
    <div class="flex gap-6 justify-center">
      <div><img src="./images/icon-facebook.svg" alt="" /></div>
      <div><img src="./images/icon-twitter.svg" alt="" /></div>
      <div><img src="./images/icon-pinterest.svg" alt="" /></div>
      <div><img src="./images/icon-instagram.svg" alt="" /></div>
    </div>
  </div>
</footer>
